<div class="container">
  <h1>Eat-Da-Burger!</h1>
  <h2 id="intro"> A burger without cheese, is like a hug without a squeeze!</h2>
  <hr>
  <p class="instructions">Click the button in the left column to eat any burger in stock. Click the button to order
    more
    of any burger out of stock (right). </p>
  <div class="row">
    <!-- burgers -->
    <div class="col-md-4">
      <!-- left column -->
      <h2 id="left">To Be Eaten...</h2>
      <ul>
        {{#each burgers}}
        {{#unless devoured}}
        {{> burgers/burger-block}}
        {{/unless}}
        {{/each}}
      </ul>
    </div> {{!-- left column --}}
    <div class="col-md-4">
      {{!-- Adding a Burger --}}
      <h2 id="form-add">Add a Burger</h2>
      <p id="add-instructions">Don't see your favorite burger on the list? Add it to the menu!</p>
      <form class="create-form">
        <div class="form-group">
          <label for="ca">Burger Name:</label>
          <input type="text" id="ca" name="name">
        </div>






        {{!-- Adding Ingredients button --}}
        <div class="form-group">
          <label for="ing">Ingredients:</label>
          <input type="text" id="ing" name="ingredients">
        </div>
        <div class="form-group">
          <label for="slee">Devoured?</label><br>
          <input type="radio" name="devoured" value="1" checked> Devoured!<br>
          <input type="radio" name="devoured" value="0"> Still Available
        </div>
        <button type="submit">Add Burger</button>
      </form>

      <!-- right column -->
      <h2 id="right">Already Devoured!</h2>
      <ul>
        {{#each burgers}}
        {{#if devoured}}
        {{> burgers/burger-block}}
        {{/if}}
        {{/each}}
      </ul>
    </div> <!-- right column -->

    {{!-- Delete Button --}}

    <div class="col-md-4">
      <h2 id="delete-title">Delete a Burger:</h2>
      <h6>DELETE DA BURGER IF ITS BAD</h6>
      <ul>
        {{#each burgers}}
        <li>
          <p id="delete-options">
            {{this.id}}. {{this.name}}
            <button data-burgerid="{{this.id}}" class="delete-burger">Delete Burger!</button>
          </p>
        </li>
        {{/each}}
      </ul>
    </div>










  </div> <!-- container -->
</div> {{!-- row --}}